<div class="container">

    <div class="section">
        <!--   Icon Section   -->
        <div class="row center">
            <div class="col col-md-3 ">
                <h5>Busqueda por:</h5>
                <form action="#">
                    <blockquote class="blockquote-employee">
                        
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                                <input [(ngModel)]="filter" name="filter" value='{"list": "employees", "attr": "name"}' type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Empleado</span>
                            </label>
                        </div>
                    </blockquote>

                    <blockquote class="blockquote-employee">
                        
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                                  <input  [(ngModel)]="filter" name="filter" value='{"list": "projects", "attr": "project_name"}' type="radio" class="custom-control-input">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Proyecto</span>
                                </label>
                            
                        </div>

                    </blockquote>
                </form>


            </div>
            <div class="col col-md-9 ">
                <div class="form-group">
                    <label for="search">Búsqueda Avanzada</label>
                </div>
                <div class="form-group">
                    <ng-template #rt let-r="result" let-t="term">
                                {{ r.project_name}}
                    </ng-template>
                    <label for="typeahead-template">Search for a state:</label>
                    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
                      [inputFormatter]="formatter" />
                    <hr>
                    <pre>Model: {{ model | json }}</pre>
                    
                </div>
                  

                <table class="table" *ngIf="resultList.length > 0  && filter.list=== 'employees'">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Proyecto Actual</th>
                            <th>Rol</th>
                            <th>+</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let employee of resultList">
                            <td>{{employee.name}}</td>
                            <td>{{employee.projectNow.project_name}}</td>
                            <td>{{employee.role}}</td>
                            <td><a [routerLink]="['/hard-skill-detail']">+</a></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="resultList.length > 0 && filter.list=== 'projects'">
                    <thead>
                        <tr>
                            <th>Nombre del proyecto</th>
                            <th>Tecnologias</th>
                            <th>Metodologia</th>
                            <th>+</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let project of resultList">
                            <td>{{project.project_name}}</td>
                            <td>{{project.languagesFrameworks}}</td>
                            <td>{{project.methodology}}</td>
                            <td><a [routerLink]="['/hard-skill-detail']">+</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
