// component styles are encapsulated and only applied to their components
* {
  color: black;
}


.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #F7F7F7;
  border-color: #d7d7d7;
}
