<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Icon Cards-->

    <div>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb mb-3 ">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Mis Proyectos</a>
        </li>
        <li class="breadcrumb-item active" *ngIf="project != undefined">{{project.name}}</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-3">

        <div class="card mb-3">
          <a href="#">
            <img class="card-img-top img-fluid w-80 img-responsive" src="/img/Perfil.jpg" alt="">
          </a>
          <div class="card-body">
            <h6 class="card-title mb-1 text-center">
              <a href="#" *ngIf="employee != undefined">{{employee.name}}</a>
            </h6>
            <p class="card-text small text-center">
              Developer
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header text-center">
            Mis Proyectos
          </div>
          <div class="card-block">
            <div class="list-group list-group-flush small">
              <a class="list-group-item list-group-item-action active" [routerLink]="'/skills/' + project._id" *ngFor="let project of projects" [class.active]="id == project._id">
                <div class="media">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                  <div class="media-body">
                    <strong>{{project.name}}</strong>
                    <div class="text-muted smaller">Temp Description</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">

        <div class="mb-3">
          <h3>Competencias Técnicas</h3>
        </div>
        <hr class="mt-2">

        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-4 col-sm-4 text-center my-auto">
                Competencia
              </div>
              <div class="col-4 col-sm-4 text-center my-auto">
                Valoración
              </div>

              <div class="col-4 col-sm-4 text-center my-auto">
                Tipo
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row" *ngFor="let hard_skill of hard_skills">

              <div class="col-4 col-lg-4 col-sm-4 text-center my-auto">
                <div class="mb-0 text-black">{{skillById(hard_skill.hardskill, all_hard_skills)}}</div>
              </div>

              <div class="col-4 col-lg-4 col-sm-4 text-center my-auto">
                <div class="mb-0 text-black">{{hard_skill.score}}</div>
              </div>

              <div class="col-4 col-lg-4 col-sm-4 text-center my-auto">
                <div class="mb-0 text-black">{{skillTypeById(hard_skill.hardskill, all_hard_skills)}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h3>Competencias Suaves</h3>
        </div>
        <hr class="mt-2">

        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-6 col-sm-6 text-center my-auto">
                Competencia
              </div>
              <div class="col-6 col-sm-6 text-center my-auto">
                Valoración
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row" *ngFor="let soft_skill of soft_skills">

              <div class="col-6 col-lg-6 col-sm-6 text-center my-auto">
                <div class="mb-0 text-black">{{skillById(soft_skill.softskill, all_soft_skills)}}</div>
              </div>

              <div class="col-6 col-lg-6 col-sm-6 text-center my-auto">
                <div class="mb-0 text-black">{{soft_skill.score}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
