<header class="mb-5">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">PSL</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarResponsive">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['search-basic']">Busqueda</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['advanced-search']">Busqueda Avanzada</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="main-container">
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<hr>
<div class=" mb-5">
<footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © PSL 2017</small>
      </div>
    </div>
  </footer>
</div>
