<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Icon Cards-->

    <div>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb mb-3 ">
        <li class="breadcrumb-item">
          <a [routerLink]="['']">Mis Proyectos</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/skills']">Nombre del proyecto</a>
        </li>
        <li class="breadcrumb-item active">Nombre de la competencia</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-3">
          <a href="#">

            <img class="card-img-top img-fluid w-80 img-responsive" src="/img/Perfil.jpg" alt="">
          </a>
          <div class="card-body">
            <h6 class="card-title mb-1 text-center">
              <a href="#">Juan Pérez</a>
            </h6>
            <p class="card-text small text-center">
              Developer
            </p>
          </div>
        </div>

        <ngb-accordion class="text-center" #acc="ngbAccordion">
          <ngb-panel title="Ver mis proyectos">
            <ng-template ngbPanelContent>


              <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Proyecto 1</strong>
                      <div class="text-muted smaller">Una corta descripción</div>
                    </div>
                  </div>
                </a>

                <a class="list-group-item list-group-item-action" href="#">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Proyecto 2</strong>
                      <div class="text-muted smaller">Una corta descripción</div>
                    </div>
                  </div>
                </a>

                <a class="list-group-item list-group-item-action" href="#">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Proyecto 3</strong>
                      <div class="text-muted smaller">Una corta descripción</div>
                    </div>
                  </div>
                </a>

                <a class="list-group-item list-group-item-action" href="#">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Proyecto 4</strong>
                      <div class="text-muted smaller">Una corta descripción</div>
                    </div>
                  </div>
                </a>
              </div>

            </ng-template>
          </ngb-panel>

        </ngb-accordion>


      </div>

      <div class="col-lg-9">

        <div class="mb-3">
          <h3>DETALLES DE LA VALORACIÓN</h3>
        </div>
        <hr class="mt-2">

        <!-- Example Notifications Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bell-o"></i> Competencia
          </div>
          <div class="list-group list-group-flush small">
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">

                <div class="media-body">
                  <strong>Descripción: </strong> Resultado de la consulta


                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">

                <div class="media-body">
                  <strong>Tipo: </strong> Resultado de la consulta

                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">

                <div class="media-body">
                  <strong>Radar: </strong> Resultado de la consulta

                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">

                <div class="media-body">
                  <strong>Puntos de contacto en la empresa: </strong> Resultado de la consulta

                </div>
              </div>
            </a>

          </div>

        </div>
      </div>


    </div>
  </div>


</div>
